.body {
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', sans-serif;
    background: url('back.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #c5d3d3;
}

.header-links,
.reviews-container {
    position: absolute;
    color: #007BFF;
}

.header-link,
.reviews-link {
    margin-left: 10px;
    text-decoration: none;
}

h1,
h2,
h3 {
    color: black;
}

.car-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
}

.car-details {
    text-align: center;
}

/* Add this CSS rule to bmw.css */
.car-details p {
    color: black;
    /* Set description font color to black */
}

#carName {
    color: black;
}

.car-details .description h2 {
    color: black;
}

.car-details .description p {
    color: black;
}

.car-details .ratings h2 {
    color: black;
}

.car-details .ratings p {
    color: black;
}

.car-details .pros-cons table {
    margin: 0 auto;
}

.car-details .pros-cons table th,
.car-details .pros-cons table td {
    color: black;
}

.pros-cons th {
    background-color: #007BFF;
    color: white;
}

.pros-cons td {
    border: 1px solid #ddd;
}

.pros-cons th:first-child,
.pros-cons td:first-child {
    border-left: none;
}

.pros-cons th:last-child,
.pros-cons td:last-child {
    border-right: none;
}

.pros-cons tr:last-child th,
.pros-cons tr:last-child td {
    border-bottom: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}